/* Change mouse cursor for JavaScript links  */
a[href^="javascript:"] {
     cursor: not-allowed !important;
}

/* Change mouse cursor for hyperlinks that open in a new window or tab */
:link[target="_blank"], :visited[target="_blank"],
:link[target="_new"], :visited[target="_new"] {
    cursor: not-allowed;
}

/* Fix youtube iframe in Wallabag */
@-moz-document domain(msommacal.nohost.me) {
    iframe#video {
        width: 400px !important;
        height: 226px !important;
    }
}
