configuration {
    click-to-exit: false;
    hide-scrollbar: true;
    matching: "fuzzy";
    modi: "window,drun,run,ssh,file-browser";
    padding: 20;
    sidebar-mode: true;
    kb-cancel: "Escape";
}
